<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/styles/styles.css" />
    <link rel="stylesheet" href="/dist/output.css" />
    <title>Scorado Blog</title>
  </head>
  <body class="bg-primary">
    {{ partial "navbar" . }}
    <div>{{ block "main" . }} {{ end }}</div>
    {{ partial "footer" . }}
  </body>
</html>
