<nav>
  <div class="min-h-16 w-full"></div>
  <div class="fixed top-0 z-20 w-full border-b border-secondary bg-primary">
    <div
      class="max-w-screen-xl mx-auto px-10 flex items-center justify-between h-16"
    >
      <a href="/">
        <img src="{{ .Site.BaseURL }}/images/scorado-logo.png" alt="Scorado" />
      </a>
      <div class="space-x-4">
        <a href="{{ .Site.BaseURL }}">Homepage</a>
        <a href="{{ .Site.BaseURL }}/categories">Categories</a>
        <a href="{{ .Site.BaseURL }}/featured">Featured</a>
        <a href="{{ .Site.BaseURL }}/about-us">About Us</a>
      </div>
      <div class="grid grid-flow-col gap-x-2 justify-self-end">
        <a href="https://scorado.com" target="_blank">Visit Scorado</a>
      </div>
    </div>
  </div>
</nav>
