{{ define "main" }}
<div class="grid">
  <!-- Hero blog -->
  {{ with .GetPage "./posts/my-first-post" }}
  <div class="grid grid-cols-12 gap-5 py-20">
    <div class="col-span-4 flex items-center">
      <a class="w-full" href="{{ .RelPermalink }}">
        <img
          class="w-full rounded-2xl object-cover h-96"
          src="{{ .Params.image }}"
          alt="{{ .Params.title }}"
          loading="lazy"
        />
      </a>
    </div>
    <div class="col-span-8 flex items-center w-full px-10">
      <div class="w-full">
        <div>
          <!-- Featured Post -->
          <h1 class="text-3xl">{{ .Title }}</h1>
          <!-- TODO: Change colour -->
          <p class="pt-10 text-[#98989A]">{{ .Description }}</p>
        </div>
        <div class="flex space-x-10 py-10">
          <div>
            <p class="text-[#98989A]">Category</p>
            <div>
              {{ range .Params.categories }}
              <p>{{ . }}</p>
              {{ end }}
            </div>
          </div>
          <div>
            <p class="text-[#98989A]">Publication Date</p>
            <p>{{ .Date.Format "January 2, 2006" }}</p>
          </div>
          <div>
            <p class="text-[#98989A]">Author</p>
            {{ range .Params.authors }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <!-- List of blogs -->
  <div class="grid grid-cols-4 grid-rows-2 gap-x-10">
    {{ range .Paginator.Pages }}
    <div>
      <a href="{{.Permalink}}">
        <img
          class="w-full object-cover h-64"
          src="{{ .Params.image }}"
          alt="{{ .Params.title }}"
          loading="lazy"
        />
      </a>
      <div class="mt-2">
        <h1 class="font-medium"><a href="{{.Permalink}}">{{.Title}}</a></h1>
        <time>{{ dateFormat $.Site.Params.dateFormat .Date }}</time>
        <div class="flex w-full mt-4">
          <img
            class="w-8 h-8 rounded-full"
            src="{{ .Params.avatar }}"
            alt="{{ .Params.authors }}"
            loading="lazy"
          />
          {{ range(.GetTerms "authors")}}
          <a class="pl-3" href="{{ .Permalink}}">{{.Name}}</a>
          {{ end }}
        </div>
      </div>
    </div>
    <!-- <div class="flex"> -->
    <!--   <img -->
    <!--     class="w-32 h-32" -->
    <!--     src="{{ .Params.image }}" -->
    <!--     alt="{{ .Params.title }}" -->
    <!--     loading="lazy" -->
    <!--   /> -->
    <!--   <div class="flex flex-wrap pl-4"> -->
    <!--     <div class="w-full"> -->
    <!--       <h1 class="text-3xl"><a href="{{.Permalink}}">{{.Title}}</a></h1> -->
    <!--       <time>{{ dateFormat $.Site.Params.dateFormat .Date }}</time> -->
    <!--     </div> -->
    <!--     <div class="flex w-full items-center"> -->
    <!--       <img -->
    <!--         class="w-8 h-8 rounded-full" -->
    <!--         src="{{ .Params.avatar }}" -->
    <!--         alt="{{ .Params.authors }}" -->
    <!--         loading="lazy" -->
    <!--       /> -->
    <!--       {{ range(.GetTerms "authors")}} -->
    <!--       <a class="pl-3" href="{{ .Permalink}}">{{.Name}}</a> -->
    <!--       {{ end }} -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="flex space-x-4 py-10"> -->
    <!--   {{ range (.GetTerms "categories")}} -->
    <!--   <a -->
    <!--     class="inline-block bg-tertiary text-primary rounded-md px-4 py-1 font-medium whitespace-nowrap" -->
    <!--     href="{{ .Permalink}}" -->
    <!--   > -->
    <!--     {{.Name}} -->
    <!--   </a> -->
    <!--   {{ end }} -->
    <!-- </div> -->
    {{ end }}
  </div>
</div>
{{ end }}
