{{ define "main" }}
<div>
  <div class="flex items-center gap-20 py-20">
    <div class="flex flex-col mb-6 space-y-6 w-full">
      <h1 class="text-4xl">Welcome to the Scorado blog</h1>
      <p>
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
    <!-- Add image here -->
    <div
      class="flex items-center justify-center w-full h-72 bg-gray-300 rounded dark:bg-gray-700 animate-pulse"
    >
      <svg
        class="w-10 h-10 text-gray-200 dark:text-gray-600"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 18"
      >
        <path
          d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
        />
      </svg>
    </div>
  </div>
  <!-- List of blogs -->
  <div class="grid grid-cols-4 grid-rows-2 gap-x-10">
    {{ range .Paginator.Pages }}
    <div>
      <a href="{{.Permalink}}">
        <img
          class="w-full object-cover h-64"
          src="{{ .Params.image }}"
          alt="{{ .Params.title }}"
          loading="lazy"
        />
      </a>
      <div class="mt-2">
        <h1 class="font-medium"><a href="{{.Permalink}}">{{.Title}}</a></h1>
        <time>{{ dateFormat $.Site.Params.dateFormat .Date }}</time>
        <div class="flex w-full mt-4">
          <img
            class="w-8 h-8 rounded-full"
            src="{{ .Params.avatar }}"
            alt="{{ .Params.authors }}"
            loading="lazy"
          />
          {{ range(.GetTerms "authors")}}
          <a class="pl-3" href="{{ .Permalink}}">{{.Name}}</a>
          {{ end }}
        </div>
      </div>
    </div>
    <!-- <div class="flex"> -->
    <!--   <img -->
    <!--     class="w-32 h-32" -->
    <!--     src="{{ .Params.image }}" -->
    <!--     alt="{{ .Params.title }}" -->
    <!--     loading="lazy" -->
    <!--   /> -->
    <!--   <div class="flex flex-wrap pl-4"> -->
    <!--     <div class="w-full"> -->
    <!--       <h1 class="text-3xl"><a href="{{.Permalink}}">{{.Title}}</a></h1> -->
    <!--       <time>{{ dateFormat $.Site.Params.dateFormat .Date }}</time> -->
    <!--     </div> -->
    <!--     <div class="flex w-full items-center"> -->
    <!--       <img -->
    <!--         class="w-8 h-8 rounded-full" -->
    <!--         src="{{ .Params.avatar }}" -->
    <!--         alt="{{ .Params.authors }}" -->
    <!--         loading="lazy" -->
    <!--       /> -->
    <!--       {{ range(.GetTerms "authors")}} -->
    <!--       <a class="pl-3" href="{{ .Permalink}}">{{.Name}}</a> -->
    <!--       {{ end }} -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="flex space-x-4 py-10"> -->
    <!--   {{ range (.GetTerms "categories")}} -->
    <!--   <a -->
    <!--     class="inline-block bg-tertiary text-primary rounded-md px-4 py-1 font-medium whitespace-nowrap" -->
    <!--     href="{{ .Permalink}}" -->
    <!--   > -->
    <!--     {{.Name}} -->
    <!--   </a> -->
    <!--   {{ end }} -->
    <!-- </div> -->
    {{ end }}
  </div>
</div>
{{ end }}
