{{ define "main" }}
<div class="grid">
  <!-- Hero blog -->
  {{ with .GetPage "./posts/my-first-post" }}
  <div class="grid grid-cols-12 gap-5 py-20 max-w-screen-xl mx-auto px-10">
    <div class="col-span-4 flex items-center">
      <a class="w-full" href="{{ .RelPermalink }}">
        <img
          class="w-full h-80 rounded-2xl object-cover"
          src="{{ .Params.image }}"
          alt="{{ .Params.title }}"
          loading="lazy"
        />
      </a>
    </div>
    <div class="col-span-8 flex items-center w-full px-10">
      <div class="w-full">
        <div>
          <!-- Featured Post -->
          <h1 class="text-3xl">{{ .Title }}</h1>
          <!-- TODO: Change colour -->
          <p class="pt-4 text-[#98989A]">{{ .Description }}</p>
        </div>
        <div class="flex space-x-10 py-10">
          <div>
            <p class="text-[#98989A]">Category</p>
            <div class="flex space-x-1">
              {{ $length := len .Params.categories }} {{ range $index, $element
              := .Params.categories }}
              <p>{{ $element }}</p>
              {{ if lt (add $index 1) $length }},{{ end }} {{ end }}
            </div>
          </div>
          <div>
            <p class="text-[#98989A]">Publication Date</p>
            <p>{{ .Date.Format "January 2, 2006" }}</p>
          </div>
          <div>
            <p class="text-[#98989A]">Author</p>
            {{ range .Params.authors }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <!-- Divider -->
  <div class="h-0.5 bg-secondary w-full"></div>

  <div class="grid grid-cols-12 gap-5 py-20 max-w-screen-xl mx-auto px-10">
    {{ range first 3 .Paginator.Pages }}
    <div class="col-span-4">
      <a href="{{.Permalink}}">
        <img
          class="w-full object-cover rounded-2xl aspect-video"
          src="{{ .Params.image }}"
          alt="{{ .Params.title }}"
          loading="lazy"
        />
      </a>
      <div class="mt-3">
        <h1 class="font-medium"><a href="{{.Permalink}}">{{.Title}}</a></h1>
        <!-- <time>{{ dateFormat $.Site.Params.dateFormat .Date }}</time> -->
        <div class="flex items-center space-x-1 w-full mt-1 text-[#98989A]">
          {{ $length := len .Params.categories }} {{ range $index, $element :=
          .Params.categories }}
          <p>{{ $element }}</p>
          {{ if lt (add $index 1) $length }},{{ end }} {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
